html {
    box-sizing: border-box;
}



*, *:before, *:after {
    box-sizing: inherit;
}
  
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}
  
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
}
  
.card {
    background-color: #141413;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

img {
    height: 400px;
}

.container {
    padding: 0 16px;
}
  
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
  
.title {
    color: grey;
}
  
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #762124;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: white;
    color: #762124;
}








/*----------------------------------SLIDER START-----------------------------------------*/


body1{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 100%;          /*mege8os  slider */
    height: 50vh;
    overflow: hidden;
}

.slides{
    
    width: 500%;
    height: 50vh;
    display: flex;   
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

/*-----css for manual navigation-----*/
.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #e20e15;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #e20e15;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}


/*-----css for auto navigation-----*/
.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: calc(50vh - 40px);
}

.navigation-auto div{
    border: 2px solid #e20e15;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto.btn1{
    background: #e20e15;
}

#radio2:checked ~ .navigation-auto .auto.btn2{
    background: #e20e15;
}

#radio3:checked ~ .navigation-auto .auto.btn3{
    background: #e20e15;
}

#radio4:checked ~ .navigation-auto .auto.btn4{
    background: #e20e15;
}


/*----------------------------------SLIDER END-----------------------------------------*/


.container1
{
    position: relative;
    width: 100%;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1 .box
{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: rgb(243, 239, 239);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
	cursor: pointer;
}
.container1 .box .icon
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #701c25; 
    transition: 0.5s;
    z-index: 1;
}
.container1 .box:hover .icon
{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;


}
.container1 .box .icon .fas, .container1 .box .icon .far
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: rgb(243, 239, 239);
}
.container1 .box:hover .icon .fas, .container1 .box:hover .icon .far
{
    font-size: 50px;
}
.container1 .box .content
{
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
.container1 .box:hover .content
{
    top: 100px;
    opacity: 1;
}
.container1 .box .content h3
{
    margin: 0 0 10px;
    padding: 0;
    color: #701c25;    
    font-size: 24px;
}
.container1 .box .content p
{
    margin: 0;
    padding: 0;
    font-size: large;
    color: #701c25;    
}

@media (max-width: 650px) {
	.container1 {
		flex-direction: column;
	}
	
	.container1 .box {
		width: 100%;
	}
}